<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title></title>
<!-- <meta http-equiv="refresh" content="2;URL='http://localhost:8080/aac/logout'" /> -->
<!-- <meta http-equiv="refresh" th:attr="content=${'5;URL=' + logout + '?target=' + login}" /> -->


<!-- <script src="../../js/error.js"></script> -->
</head>
<body>
<!-- <a href="#" th:onclick="'javascript:aaclogout(\'' + ${login} + '\',\'' + ${logout} +'\')'">Login</a> -->
<p th:text="${message}"></p>
<p th:text="${'Error: ' + error}"></p>
<p><a th:href="${logout} + '?target=' + ${login}">Login</a></p>
<!-- <p>Click <a th:href="${logout} + '?target=' + ${login}">here</a> if you are not redirected in 5 seconds.</p> -->

</body>
</html>