<h2 mat-dialog-title>{{ ('DialogText.Managers.'+data.dialogStatus) | translate }}</h2>
<mat-dialog-content>    
    <mat-label class="mat-h4" *ngIf="!data.mngDelete">{{ 'DialogText.Managers.Info' | translate }}</mat-label>
    <mat-label class="mat-h4" *ngIf="data.mngDelete">{{ 'DialogText.Managers.Delete' | translate }} {{data.mngDelete}}</mat-label>
    <br/>
    <mat-form-field class="dialog-container-form-field" *ngIf="!data.mngDelete">
        <input matInput [(ngModel)]="data.username" placeholder="Manager"  [formControl]="mngControl" required #mng>
        <mat-error *ngIf="mngControl.invalid">{{getErrorMessage4mng()}}</mat-error>
    </mat-form-field>

<!--
    <form #heroForm="ngForm">
        <div class="form-group" *ngIf="data.username">
            <label for="name">{{ 'DialogText.Managers.label3' | translate }}</label>
            <input type="text" class="form-control" id="name"
                    required minlength
                    [(ngModel)]="data.username" name="name"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Managers.alert1' | translate }}
            </div>
        </div>
        <div class="form-group" *ngIf="data.email">
            <label for="email">{{ 'DialogText.Managers.label2' | translate }}</label>
            <input type="text" class="form-control" id="email"
                    required minlength
                    [ngModel]="data.email" name="email"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Managers.alert2' | translate }}
            </div>
        </div>
    </form>
-->
</mat-dialog-content>
<br/>
<div mat-dialog-actions>
    <button mat-button *ngIf="!data.mngDelete" [mat-dialog-close]="{id:data.id,username:data.username}" tabindex="2" [disabled]="mngControl.invalid">{{ 'ButtonText.DBOK' | translate }}</button>
    <button mat-button *ngIf="data.mngDelete" [mat-dialog-close]="{id:data.id,username:data.username}" tabindex="1" >{{ 'ButtonText.DBYes' | translate }}</button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="onNoClick()" tabindex="-1">{{ 'ButtonText.DBNotOK' | translate }}</button>
</div>