<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span *ngIf="currentDomain"> DSA Console </span>
    <span class="fill-remaining-space"></span>
    <mat-select [(value)]="currentDomain" *ngIf="currentDomain" class="domain-selector" (change)="changeDomain($event)">
      <mat-option *ngFor="let domain of profile.domains" [routerLink]="['/datasets',domain.domain]" [value]="domain">{{domain.domain}}</mat-option>
    </mat-select>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon >account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>mood</mat-icon>
        <span>User Name</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="language">
        <mat-icon>translate</mat-icon>
        <span>Language</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <mat-menu #language="matMenu">
      <button mat-menu-item>
        <mat-icon>g_translate</mat-icon>
        <span>IT</span>
      </button>
      <button mat-menu-item>
        <mat-icon>g_translate</mat-icon>
        <span>EN</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container" >
  <mat-sidenav #sidenav class="sidenav" >
    <button mat-menu-item   [routerLink]="['/datasets',currentDomain.domain]" (click)="sidenav.close()"  *ngIf="currentDomain">
      <mat-icon>storage</mat-icon>
      <span>DataSets</span>
    </button>
    <button mat-menu-item [routerLink]="['/managers',currentDomain.domain]" (click)="sidenav.close()" *ngIf="currentDomain">
        <mat-icon>person</mat-icon>
      <span>Managers</span>
    </button>
    <button mat-menu-item [routerLink]="['/users',currentDomain.domain]" (click)="sidenav.close()"  *ngIf="currentDomain">
      <mat-icon>face</mat-icon>
      <span>Users</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
