/*.table-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.dialogCDS{
  display: flex;
  flex-direction: column;
}
.dialogCDS > * {
  width: 100%;
}
*/
.dialog-container-form-field {
  display: flex;
  flex-direction: column;
}

.dialog-container-form-field > * {
  width: 100%;
}

/* .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
  color: red;
}

.mat-select-arrow,
.mat-select-disabled .mat-select-value,
.mat-select-trigger {
  color:orange;

} */