<h2 mat-dialog-title>{{ ('DialogText.Users.'+data.dialogStatus) | translate }}</h2>
<mat-dialog-content>
    <mat-label class="mat-h4" *ngIf="!data.userDelete">{{ 'DialogText.Users.Info' | translate }}</mat-label>
    <mat-label class="mat-h4" *ngIf="data.userDelete">{{ 'DialogText.Users.Delete' | translate }} {{data.userDelete}}</mat-label>
    <br/>
    <mat-form-field class="dialog-container-form-field" *ngIf="!data.userDelete">
        <input matInput [(ngModel)]="data.username" placeholder="Username"  [formControl]="userControl" required #ds>
        <mat-error *ngIf="userControl.invalid">{{getErrorMessage4user()}}</mat-error>
    </mat-form-field>
    <!-- <form #heroForm="ngForm">
        <div class="form-group">
            <label for="name">{{ 'DialogText.Users.label1' | translate }}</label>
            <input type="text" class="form-control" id="name"
                    required minlength
                    [(ngModel)]="data.username" name="name"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Users.alert1' | translate }}
            </div>
        </div>
        <div class="form-group" *ngIf="data.email">
            <label for="email">{{ 'DialogText.Users.label2' | translate }}</label>
            <input type="text" class="form-control" id="email"
                    required minlength
                    [ngModel]="data.email" name="email"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Users.alert2' | translate }}
            </div>
        </div>
        <div class="form-group" *ngIf="data.dataset">
            <label for="dataset">{{ 'DialogText.Users.label3' | translate }}</label>
            <input type="text" class="form-control" id="dataset"
                    required minlength
                    [ngModel]="data.dataset" name="dataset"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Users.alert3' | translate }}
            </div>
        </div>
    </form> -->
</mat-dialog-content>
<br/>
<div mat-dialog-actions>
    <button mat-button *ngIf="!data.userDelete" [mat-dialog-close]="{id:data.id,username:data.username,ds:data.ds}" tabindex="1" [disabled]="userControl.invalid">{{ 'ButtonText.DBOK' | translate }}</button>
    <button mat-button *ngIf="data.userDelete" [mat-dialog-close]="{id:data.id,username:data.username}" tabindex="1" >{{ 'ButtonText.DBYes' | translate }}</button>
    <!-- <button mat-button [mat-dialog-close]="data.username" tabindex="2" >{{ 'ButtonText.DBOK' | translate }}</button> -->
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="onNoClick()" tabindex="-1">{{ 'ButtonText.DBNotOK' | translate }}</button>
</div>