<h2 mat-dialog-title>{{ ('DialogText.Users.'+data.dialogStatus) | translate }}</h2>
<div mat-dialog-content>
    <p>{{ 'DialogText.Users.Info' | translate }}</p>
<!--   
    <mat-form-field (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <input id="id" name="id" required matInput tabindex="1" [(ngModel)]="data.id" placeholder="ID">
            <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
                Name is required
            </div>        
        </div>
    </mat-form-field>
-->
    <form #heroForm="ngForm">
        <div class="form-group">
            <label for="name">{{ 'DialogText.Users.label1' | translate }}</label>
            <input type="text" class="form-control" id="name"
                    required minlength
                    [(ngModel)]="data.id" name="name"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Users.alert1' | translate }}
            </div>
        </div>
        <div class="form-group" *ngIf="data.email">
            <label for="email">{{ 'DialogText.Users.label2' | translate }}</label>
            <input type="text" class="form-control" id="email"
                    required minlength
                    [ngModel]="data.email" name="email"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Users.alert2' | translate }}
            </div>
        </div>
        <div class="form-group" *ngIf="data.dataset">
            <label for="dataset">{{ 'DialogText.Users.label3' | translate }}</label>
            <input type="text" class="form-control" id="dataset"
                    required minlength
                    [ngModel]="data.dataset" name="dataset"
                    #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'DialogText.Users.alert3' | translate }}
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button> -->
    </form>
</div>
<br/>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.id" tabindex="2" [disabled]="!heroForm.form.valid">{{ 'ButtonText.DBOK' | translate }}</button>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="onNoClick()" tabindex="-1">{{ 'ButtonText.DBNotOK' | translate }}</button>
</div>