<div>
  <mat-toolbar>
    <span>{{ 'Sidenav.Users' | translate }}</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary" (click)="openDialog4CreateUser()">
      <i class="material-icons">add_circle_outline</i>
      {{ 'ButtonText.NewUser' | translate }}
    </button>
  </mat-toolbar>  
</div>
<div class="table-container mat-elevation-z8" *ngIf="users">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TableText.Users.C1' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TableText.Users.C2' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dataset">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TableText.Users.C3' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataset}} </mat-cell>
    </ng-container>

    <!-- modification Column -->
    <ng-container matColumnDef="modification">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'TableText.Users.C4' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <button mat-icon-button (click)="openDialog4EditUser(element.id, element.email, element.dataset)" matTooltip="{{ 'DialogText.Users.TitleEdit' | translate }}"><i class="material-icons">mode_edit</i></button>
          <button mat-icon-button (click)="openDialog4DeleteUser(element.id,element.username)" matTooltip="{{ 'DialogText.Users.TitleDelete' | translate }}"><i class="material-icons">delete</i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->